<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @product.type.humanize.capitalize %>
</p>

<p>
  <strong>Color:</strong>
  <%= @product.color %>
</p>

<p>
  <strong>Cost price:</strong>
  <%= @product.cost_price %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @product.remark %>
</p>