<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Stock Manager</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <% unless user_signed_in? %>
      <%= stylesheet_link_tag 'bootstrap-signin' %>
    <% else %>
      <%= stylesheet_link_tag 'application' %>
    <% end %>

    <%= yield :css_html %>
    <%= csrf_meta_tags %>
  </head>

    <% unless user_signed_in? %>
      <%= render 'layouts/body_signin' %>
    <% else %>
      <%= render 'layouts/body_with_sidebar' %>
    <% end %>
    <%= yield :modal %>

    <% unless user_signed_in? %>
      <%= javascript_include_tag 'bootstrap-signin' %>
    <% else %>
      <%= javascript_include_tag 'application'%>
    <% end %>
    <%= yield :js_html %>
</html>
