<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Stock Manager</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <% unless user_signed_in? %>
      <%= stylesheet_link_tag 'bootstrap-signin' %>
    <% else %>
      <%= stylesheet_link_tag 'application' %>
    <% end %>

    <%= yield :css_html %>
    <%= csrf_meta_tags %>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  </head>

    <% unless user_signed_in? %>
      <%= render 'layouts/body_signin' %>
    <% else %>
      <%= render 'layouts/body_with_sidebar' %>
    <% end %>
    <%= yield :modal %>

    <% unless user_signed_in? %>
      <%= javascript_include_tag 'metronic-login' %>
    <% else %>
      <%= javascript_include_tag 'application'%>
    <% end %>
    <%= yield :js_html %>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</html>
